%table-common-elements {
   border: 1px solid black;
   text-align: center;
}
#SongList {
   .songlistdata {
      width: 80%;
      text-align: center;
      margin: auto;
      transition: height 0.5s;
   }
   .songTable, tr {
      @extend %table-common-elements;
      background-color: white;
      width: 95%;
      margin: auto;
   }
   th {
      padding: 4px;
      input {
         border: none;
         text-align: center;
         width: 60%;
      }
   }
   .tablenavigation {
      padding: 10px;
      margin: auto;
      text-align: center;
   }
   .page {
      padding: 0 10px;
   }
}

@media screen and (min-width: 960px) {
   #SongList {
      .songTable {
         width: 80%;
      }
   }
}